[Application_Code]
Sources/ @ArtiomCiobanu
Database/ @ArtiomCiobanu

[CI/CD]
Resources/ @Cute-Monster

[All other stuff]
.gitignore @ArtiomCiobanu @Cute-Monster
README.md @artiomCiobanu @Cute-Monster
