[Application_Code]
Sources/ @ArtiomCiobanu @Cute-Monster
Database/ @ArtiomCiobanu @Cute-Monster
Resources/CERTS/ @ArtiomCiobanu @Cute-Monster

[CI/CD]
Resources/ @Cute-Monster
.github/ @Cute-Monster
CODEOWNERS @Cute-Monster

[All other stuff]
.gitignore @ArtiomCiobanu @Cute-Monster
README.md @artiomCiobanu @Cute-Monster
